.detailbox{
   
    background: rgb(173, 99, 216);
    border: 3px solid black;
    border-radius: 18px;
    font-weight: 600;
    height: 45px;
    width: 500px;
    padding-top: 18px;
    margin: 20px 50px 20px 50px;
}
.DbDisplay{
    margin-top: 50px;
    border: 3px solid black;
    background: rgb(164, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-image:linear-gradient(180deg, rgb(134, 212, 212), rgb(147, 162, 224),rgb(139, 205, 154)) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.inputfield{
    margin: 10px 5px;
    background:rgb(213, 236, 236);
    width: 200px;
    height: 30px;
    border-radius: 20px;

}
.submit-btn{
    width: 200px;
    font-weight: 600;
    border-radius: 20px;
    background:rgb(90, 180, 180);
    height: 35px;
}
